/dependencies/dgamevfs/.gitignore
/dependencies/dgamevfs/cdc.obj
/dependencies/dgamevfs/unittest.obj
/iceLog.txt
/README.txt
/libvorbis1.3.3.zip
/SDL_mixer-1.2.12-win32.zip
/LICENSE.FLAC.txt
/LICENSE.mikmod.txt
/LICENSE.ogg-vorbis.txt
/LICENSE.smpeg.txt
/dependencies/dyaml/unittest
/dependencies/dyaml/libdyaml.a
/dependencies/dgamevfs/unittest
/user_data/main/profiles/*
/ice-debug.obj
*.exe
*.dll
/memprof-debug
/memprof-no-contracts
/memprof-release
/frameprof-debug
/frameprof-no-contracts
/frameprof-release
/cdc.obj
*.sw*
*.sv*
*~
dsss.last
dsss_objs/
ice-debug
ice-no-contracts
ice-release
wrapper
glxtrace.so
oprofile/
user_data/main/screenshots/
user_data/main/logs/
cdc
*.out
*.o
*.tbp.dir
*.ebp.dir
*.caw
*.bkp
