body
{
    font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
} 

h1
{
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}

div.section
{
    margin-top: 32px;
}

div.section h1
{
    font-size: 24px;
    border-bottom: 1px solid #CCCCCC;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #CCCCCC;
}

tbody, tr, td
{
    border-color: #CCCCCC;
    padding: 8px;
}

tt
{
    padding:1px;
    border: 1px solid #DDDDDD;
    color:  #202020;
}
